/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/* ========================================================================
   Use this file to add custom CSS easily
 ========================================================================== */
 
 
.tm-headerbar, .tm-navbar, .tm-footer {
    margin-bottom: 0 !important;
    margin-top:0 !important;
}
.phone-txt { font-size: 20px !important; }
.phone-txt img {margin: -3px 7px 0 0 !important;width: 19px !important;}
.phone-txt1 span{font-size: 20px;}
.tm-logo  img{max-width: 220px;}
.tm-headerbar .uk-panel { margin-top: 20px; }
.tm-logo P {margin-bottom:0 !important}
.headerHeading{    clear: both;    float: right;    margin-bottom: 10px;    margin-left: 0;    margin-top: 0;}