@import url('tablet.css');


.signUpSection {position:static !important;}
.logo { margin: 100px 0 20px;} 
.serchPhone {   margin: 0 0 10px;}
.four_col {width:50%;} 
.productsearch {height: 500px;}
.three_colBor p{line-height: 20px;}
.lattestPost h6 {width:100%;}
.postdate { float:none; margin:0 auto 10px;}
.three_colBor {padding: 20px 10px 0;}
.postproduct h3 { font-size: 17px;margin: 0 0 20px;}
.lattestPost ul li {margin: 0 0 25px;} 


button, .button, input[type="button"], input[type="reset"], input[type="submit"] {padding: 10px 2% 11px;}
.saftySheet p{font-size: 20px;}
#supplementary .widget {width:100%; }
.site-info { background:none;}

.rightHead * {line-height: 20px; }
.rightHead {margin: 5px 0 0; line-height:18px;}
.topcontent { height:auto; min-height:none !important;}
.topcontent p {line-height:20px; }