@import url('iphone.css');
.logo { margin: 20px 0 20px; }
.serchPhone { width: 100%; }
.searchBar { width: 100%; padding: 0; margin: 0 0 5px 0; }
.serchPhone h5 { width: 100%; margin: 0 0 5px 0 }
.serchPhone { text-align: center; }
.socialLogo { width: 100%; margin: 0 0 5px 0 }
.socialLogo a { float: none; display: inline-block; }
.sliderContent { max-width: 300px; }
.three_col { width: 100%; margin-bottom: 15px; }
#colophon h1 { width: 100%; }
.signUpSection { padding: 15px 0; }
.four_col { width: 100%; }
.SearchSection input[type="text"] { width: 100%; }
.SearchSection input[type="submit"] { display: none; }
.three_colBor { width: 100%; }
.saftySheet p { width: 100%; width: 100%; }
.saftySheet .button { width: 100%; margin: 15px 0 0; }
.lttestimo { left: 5px; top: 5px; width: 30px; }
.rttestimg { bottom: 5px; right: 5px; width: 30px; }
select { max-width: 100%; }
.four_col { max-width: 300px; margin: 0 auto 0; float: none; }
.three_colBor { height: auto; margin-bottom: 20px; }
.hotProducts .button { bottom: 0; left: 0; width: 90%; position: relative; display: inline-block; margin-top: 15px; }
.three_colBor { padding-bottom: 30px}
.facebookWidt {text-align:center;}
.facebookWidt img{float:none;}
.rightHead h6 {width: 50%;
    font-size: 16px;}
.rightHead {width:100%;}
.rightHead * {line-height: 16px; }

.innerFull h1 {    font-size: 30px; }
.innerFull p { font-size: 14px; line-height:18px; }


.topcontent h1 { line-height:26px;}
.topcontent { background:#e42229;}

.catListing li{width: 100%; height:auto; margin-bottom:30px; min-height:inherit;}
.catimg {  height:auto; margin-bottom:20px;}

.innerFull h2 {    font-size: 24px;}


.AboutNewTemp .catListing li {width:100%; }