/********************** Responsive Css **************************************/
.navbar-toggle { display:none; }
 @media screen and (max-width:767px) {
body > #gkBg { overflow: hidden; }
.gkWrap { max-width:767px!important; width:100%!important; float:left; overflow:hidden; }
#gkMenu { display:none; }
#gkMenu { min-height:20px; float:left; margin:0; padding:0px; }
#gkLogoWrapper { float: left; width: 100%; }
#gkLogo { height: auto; margin-left: 0; width: 100%; float:left; background: url("../images/style1/backa1.png") left top repeat-x; background-size:cover; }
#gkPageTop { background-size:cover; min-height:30px;  width:100%;
}
#gkLogo a { float:left; width: 40%; height:auto; }
#gkLogo img { width: 100%; }
h1#gkLogo a.cssLogo { width:100%; height:48px; background-size:cover; }
.navbar-toggle { display:block; width:40px!important; height:40px!important; position:absolute; background:url("../images/responwsivemenu.png") center center no-repeat #000; right:0px; top:20px; font-size:0px; border-radius:0; z-index:9; border:0px; text-align:center; padding:10px; }
#gkMainNav div.gk-menu .level0 > li > a { background:none; }
#gkMenu { heght:auto; }
div.gk-menu { height: auto; line-height: auto; }
div.gk-menu > ul.level0 { height: auto; }
div.gk-menu > ul.level0 > li { width: 100%; }
div.gk-menu ul.level0 > li.active > a, div.gk-menu ul.level0 > li > a:hover, div.gk-menu ul.level0 > li:hover > a { color: #fff; }
#gkMainNav div.gk-menu .level0 > li { background:none; }
#gkMainNav div.gk-menu .level0 > li.first > a { background:none; }
.navbar-toggle:hover { background:url("../images/responwsivemenu.png") center center no-repeat #000; }
div.gk-menu > ul { background:#f38414; margin-left:0px; float:left; }
#gkMainNav div.gk-menu .level0 > li { width:96%; padding-left:0px; }
#gkMainNav div.gk-menu .level0 > li > a { color:#fff; }
#gkMainNav div.gk-menu .level0 > li { background: none; }
#gkMainNav div.gk-menu .level0 > li.last { background: none; }
#gkMainNav div.gk-menu .level0 > li.last > a { background: none; }
#gkPageTop { background:none; margin-bottom:0px; }
#gkHeaderModule1 { width: 98%; margin: 0px 1%; }

#gkHeaderModule2 {
    width: 98%; margin: 0px 1%;
} 
#gkContent {
    width: 101%;
    margin: 0px 1%;
}
#gkMainbodyBottom .box .content img { width:100%;
}
#gkRight {
    width: 97%;
    margin: 0px 1%;

}
#gkUser1 #gkuseruser1 .gkBoxWrap img { width:100%;
}
#gkUser1 #gkuseruser1 .gkBoxWrap  {
	padding-left:0px;
	padding-right:0px;
}
.box > h3, .box_menu > h3, .box_text > h3 {
	text-align:center;
}

#gkSearch {
    float: none;
    margin: auto;
    width: 195px;
}
#gkBottomWrap {
	padding-bottom:0px;
}
.gkIsWrapper-gk_financial_business .gkIsTextTitle a {
    font-size: 13px;
}
.gkIsWrapper-gk_financial_business .gkIsTextTitle span:first-child {
    margin: 17px 10px 0 0;
    padding: 0 5px;
}
#gkHeaderModule1 > div, #gkHeaderModule2 > div {
	border:1px solid #e5e5e5;
}
.nspMainPortalMode3 .nspTitleTab .nspDate {
	padding: 0 5px;
}
.nspArtMore  {
	margin: 0 0 0 0px!important;
}
.nspMainPortalMode3 .nspTitleTab .nspTitle {
	font-size:14px;
}
 }
@media screen and (max-width:639px) {
h1#gkLogo a.cssLogo { height: 35px; }
.navbar-toggle { top:3px; }
#gkLogo { height:48px!important;
}
.gkIsImage { height:193px!important;
}
.gkIsSlide { width:100%!important; height:193px!important;
}


}
@media screen and (max-width:479px) {
	#gkLogo {
    height: 35px !important;
}

#gkLogo img {
    margin: 5px 0px 0px 5px;
	float:left;
}
}
