@import url('../style.css');

.full_row { padding:0 1%;}
.logo { max-width:180px; margin: 50px 0 20px;}
.searchBar {  margin: 6px 10px 0 12px;}
.searchBar input[type="search"] {  width: 100%; }
.site-navigation a.skip-link {display:none;}
.primary-navigation {  height:auto; background:none; padding:0;}
.nav-menu {position:absolute; top:0; left:0; width:100%; z-index:99999;}
.site-navigation li {padding:0 5%; }
.menu-home-top-container { position:relative;}
.primary-navigation.toggled-on { padding:0;}
.primary-navigation.toggled-on .nav-menu {background:#dfdfdf; }
.sliderContent { max-width:400px;}
.texts {margin-left: 0px;}
.three_col { text-align:center;}
.three_col *{ float:none;}
.signUpSection img{ float:none;}		
.productsearch { background-size:contain !important;    height: 420px;width: 98%; margin:0 1%; padding: 0 0 20px}
.productsearch  img{width:100%;}
.colBtn { width: 90%; left:5%;}
.productsearch select {margin-bottom: 15px;}
.productsearch p {font-size: 22px; line-height: 25px;}

.SearchSection input[type="submit"] {width: 25%;}

.SearchSection input[type="text"] { width: 73%;}
.three_colBor { padding: 20px 15px 0; }
.postproduct h3 { font-size: 22px;}
.postdate {margin: 0 10px 10px 0;}
.lattestPost h6{width: 73%;}

.three_colBor p {  line-height: 30px;}

.hotProducts .button{ width: 90%; left:5%; bottom: 15px;}
.proImg{ margin: 0 0 15px;}
.saftySheet .button { width: 25%;}

.saftySheet p {width: 75%;   font-size: 25px;}
#supplementary {padding:0; padding-top: 40px;}
#supplementary .widget {position:static !important; top:0; width:25%; float:left;     padding: 0 1%; }
#colophon h1 { font-size: 13px;}
#colophon .socialLogo {clear:both;}

.envir { float:right; }

.primary-navigation .menu-toggle{ display:block;}
.menu-toggle { top: 77px;}
.primary-navigation .nav-menu {display:none;}
.site-navigation li { width: 100%;}
.serchPhone { margin-right:45px;}
.serchPhone h5 { font-size:19px;}


.catListing {padding:0 1%; text-align:center;}

.catListing li {padding: 30px 1%; width: 33%;display: inline-block;}
.topcontent br { display:none; }